# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class

# Pytest / Test caches
.pytest_cache/
.coverage
htmlcov/

# Ambientes virtuais
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos do Sistema Operacional
Thumbs.db
desktop.ini
.DS_Store
